.container{
  text-align: center;
}
.video{
  width: 50%;
}

.volumeBar{
  width: 80px;
}

.controlPanel {
  justify-content: center:
  align-items: center;
}

.progressBar{
  height: 4px;
  color : red;
}
